<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericcurtin.fallMonitor"
    android:versionCode="17"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>

    <application
        android:allowBackup="false"
        android:icon="@drawable/fallmonitor"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.holoeverywhere.app.Application" >
        <activity
            android:name="com.ericcurtin.fallMonitor.FallMonitorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ericcurtin.fallMonitor.AccelerometerCalibrationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ericcurtin.fallMonitor.Disclaimer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.ericcurtin.fallMonitor.AccelerometerService"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </service>

        <activity
            android:name="com.ericcurtin.fallMonitor.AlertActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>

        <receiver
            android:name="com.ericcurtin.fallMonitor.AccelServiceOnBoot"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:enabled="true"
            android:exported="true"
            android:label="AccelServiceOnBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>